h1 {
    color: #048AC9;
}

.logo-header {}

/*
 * Main classes
 */


.tweet {
    margin-top: 15px;
}

.tweets {
    margin-top: 10px;
}

.btn-tweet {
    padding-top: 20px;
}

/*
 * Footer classes
 */

.main_footer {
    background-color: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    min-height: 200px;
    margin-top: 365px;
    border-top: 1px solid rgba(200, 200, 200, 1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.main_footer a {}

#mobile-view {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.developed-by {
    padding-top: 30px;
}

#footer-author {}

#footer-links {
    margin-top: 15px;
}

.facebook {
    margin-top: 35px;
}

.padding40 {
    padding-top: 40px;
}

.home img.responsive {
    margin: 10px 0;
    max-width: 350px;
    display: inline-block;
}

.main-container-layout {
    padding-top: 0;
    padding-bottom: 0;
    border: 0 none;
}

.main-container-layout .cell {
    padding: 10px;
    border: 1px solid rgba(220, 220, 220, 1);
}

.main_footer h3, .main_footer p {}

.logo-footer {
    margin-top: 15px;
    margin-bottom: 0;
    width: 100px;
}

.critical-general {
    color:#ff0000 !important;
}