<div class="container">
    <div class="row">
        <div class="cell c12 align-center">
            <img class="logo-header" src="/static/media/images/logo.png">
        </div>
    </div>
    <div id="tweet" class="align-center">
        <form role="form">
            <textarea id="text" placeholder="Type your tweet here"></textarea>
            <div class="btn-tweet">
                <button id="sendTweet" class="default large">Submit your tweet</button>
            </div>
        </form>

        <div class="tweets">

            <div class="row box">
                <div class="cell c4">
                    <h5 class="block info">Test tweet</h5>
                </div>
            </div>
        </div>
    </div>
</div>
